body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#photo {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

#bio {
  margin-top: 50px;
  text-align: center;
  color: white;
}

#table {
  width: 500px;
  color: white;
}


