.mhs-mhs {
    padding: 10px;
}
.mhs {
    width: 100%;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    display: flex;
}
.gambar-mhs {
    height: 240px;
    width: 240px;
    margin-right: 10px;
    vertical-align: top;
}
.gambar-mhs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}   
.konten-mhs {
    flex: 1;    
}
.konten-mhs div.judul-mhs {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.konten-mhs p.isi-mhs {
    font-size: 16px;
    margin-bottom: 10px;
}
.form {
    padding: 10px;
}
